<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target name="null" xsi:type="Null" />
    <target name="console" xsi:type="ColoredConsole"
        layout="[${date:format=HH\:mm\:ss}] [${level}] [${threadid}]: ${message}"/>
    <target name="detail" type="File" fileName="${basedir}/Log/app.detail.log"
            archiveEvery="Day" archiveFileName="${basedir}/Log/app${shortdate}-{#}.detail.log"
              archiveNumbering="Sequence" maxArchiveFiles="30"
            layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|${level:uppercase=true:fixedLength=True:padding=5:padCharacter= }|${threadid:fixedLength=True:padding=5:padCharacter= }]|[${callsite:fileName=True:className=False:methodName=True:includeSourcePath=False}]|${message} ${exception:format=tostring}"/>
    <target name="error" type="File" fileName="${basedir}/Log/app.error.log"
         archiveEvery="Day" archiveFileName="${basedir}/Log/app${shortdate}-{#}.error.log"
           archiveNumbering="Sequence" maxArchiveFiles="9999"
         layout="${date:format=yyyy\.MM\.dd HH\:mm\:ss}|${level:uppercase=true:fixedLength=True:padding=5:padCharacter= }|${threadid:fixedLength=True:padding=5:padCharacter= }]|[${callsite:fileName=True:className=False:methodName=True:includeSourcePath=False}]|${message} ${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="Raven.*" minlevel="Trace" writeTo="null" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" minlevel="Trace" writeTo="detail"/>
    <logger name="*" minlevel="Warn" writeTo="error"/>
  </rules>
</nlog>
